
.lab-container {
  width: 100%;
  height: 70em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  overflow: hidden;
}

/* Donut shape container */
.donut-shape {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1.75;
  position: relative;

}

pre {
    font-family: monospace;
    font-size: 7px;
    line-height: 1;
    white-space: pre;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7); 
    width: fit-content;
  } 


/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .lab-container {
    height: 50em;
    
  }
  .donut-shape {
      max-width: 320px;
  }
  
  pre {
      font-size: 4px;
      transform: translate(-50%, -50%) scale(0.6);
  }
}

@media only screen and (max-width: 480px) {
  .donut-shape {
      max-width: 240px;
  }
  
  pre {
      font-size: 5px;
      transform: translate(-50%, -50%) scale(0.5);
  }
}