
.lab-container {
  width: 100%;
  height: 70em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  overflow: hidden;
}

/* Donut shape container */
.donut-shape {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 160px;
  max-width: 280px; */
  aspect-ratio: 1.75;
  position: relative;

}


/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .donut-shape {
      max-width: 300px;
  }
  
  pre {
      font-size: 8px;
      transform: translate(-50%, -50%) scale(0.8);
  }
}

@media only screen and (max-width: 480px) {
  .donut-shape {
      max-width: 240px;
  }
  
  pre {
      font-size: 6px;
      transform: translate(-50%, -50%) scale(0.7);
  }
}